@model EntityLayer.Concrete.Staff
@{
    ViewBag.Title = "AddStaff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Personel Ekleme Sayfası</h2>


@using (Html.BeginForm("AddStaff", "Staff", FormMethod.Post))
{
    <div class="form-group">


        @Html.Label("Personel Adı")
        @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.name)
        <br />
        @Html.Label("Personel Soyadı")
        @Html.TextBoxFor(x => x.surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.surname)
        <br />
        @Html.Label("Personel Tc si")
        @Html.TextBoxFor(x => x.tc_number, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.tc_number)
     
        <br />
        @Html.Label("Personel Şifresi")
        @Html.TextBoxFor(x => x.password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.password)
        <br />
       

        <button class="btn btn-info">Kaydet</button>

    </div>
}
