@model EntityLayer.Concrete.CourseMessage
@{
    ViewBag.Title = "AddCourseMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />


@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gazi Üniversites |Mesajlar</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <!-- Theme style -->
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">

    <script src="~/AdminLTE-3.0.4/plugins/summernote/summernote.min.js"></script>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body class="hold-transition sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Mesaj Kutusu</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @Html.Action("MessageList","CourseMessage")
                <!-- /.col -->
                <div class="col-md-9">
                    @using (Html.BeginForm("AddCourseMessage", "CourseMessage", FormMethod.Post))
                    {
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title"> Yeni Mesajlar</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="form-group">
                                    @Html.Label("Mesaj Gönderen ")
                                    @Html.TextBoxFor(x => x.president_id, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.president_id)
                                </div>
                                <div class="form-group">
                                    @Html.Label("Mesaj Başlığı ")
                                    <input class="form-control" placeholder="Başlık:">
                                </div>
                                <div class="form-group">
                                    @Html.Label("Mesajınız ")
                                    @Html.TextAreaFor(x => x.message, new { @id = "compose-textarea", @class = "form-control", @placeholder = "Subject:", @style = "height: 300px" })
                                    @Html.ValidationMessageFor(x => x.message, "", new { @class = "text-danger" })

                                    
                                </div>
                                <div class="form-group">
                                    <div class="btn btn-default btn-file">
                                        <i class="fas fa-paperclip"></i> Dosya Ekle
                                        <input type="file" name="attachment">
                                    </div>
                                    <p class="help-block">Max. 32MB</p>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div class="float-right">
                                    <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Taslaklara Kaydet</button>
                                    <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>
                                </div>
                                <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Sil</button>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                    }
                        <!-- /.card -->
                    </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery -->
    @*<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>*@
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <!-- Summernote -->
    <script src="~/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Page Script -->
    @*<script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote()
        })</script>*@

   
</body>
</html>



@*@using (Html.BeginForm("AddCourseMessage", "CourseMessage", FormMethod.Post))
    {
        <div class="form-group">

            <br />
            @Html.Label("Mesaj id")
            @Html.TextBoxFor(x => x.message_id, new { @class = "form-control",@readonly="readonly" })
            @Html.ValidationMessageFor(x => x.message_id)
            <br />
            @Html.Label("Mesaj Gönderen ")
            @Html.TextBoxFor(x => x.president_id, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.president_id)
            <br />
            @Html.Label("Mesaj İçeriği")
            @Html.TextBoxFor(x => x.message, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.message)
            <br />
            @Html.Label("Tarih")
            @Html.TextBoxFor(x => x.date, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.date)
            <br />

            <button class="btn btn-info">Mesaj Gönder</button>

        </div>
    }

    <div>
        @Html.ActionLink("Mesajlara Geri Dön", "Index")
    </div>*@